@model MeuMemed.ViewModel.PrescricaoMemed.HomePrescricaoMemedViewModel

@{
    ViewData["Title"] = "Index";
    var toten = Model.Filtro != null && Model.Filtro.Medico != null ? Model.Filtro.Medico.Toten : "";
}

<h1>Index</h1>

<hr />

<partial name="_FormFiltro" model="@Model.Filtro" />

@if (Model.PermiteCriar())
{
    <hr />

    <h3>Prescrição</h3>

    <div class="memed-container" id="memed-container"></div>

}

@section Scripts{

    @if (Model.PermiteCriar())
    {

        <script type="text/javascript"
                src="https://sandbox.memed.com.br/modulos/plataforma.sinapse-prescricao/build/sinapse-prescricao.min.js"
                data-token="@toten"
                data-container="memed-container">
        </script>

        <script>
        MdSinapsePrescricao.event.add('core:moduleInit', function moduleInitHandler(module) {
            if (module.name === 'plataforma.prescricao') {
                MdHub.command.send('plataforma.prescricao', 'setPaciente', {
                    nome: "@Model.Filtro.Paciente.Nome",
                    endereco: "@Model.Filtro.Paciente.Endereco",
                    cidade: "@Model.Filtro.Paciente.Cidade",
                    telefone: "@Model.Filtro.Paciente.Telefone",
                    idExterno: "@Model.Filtro.Paciente.PacienteId"
                }).then(function () {
                    MdHub.module.show('plataforma.prescricao');
                });
            }
        });

        MdSinapsePrescricao.event.add('core:moduleInit', function (moduleData) {
            if (moduleData.name === 'plataforma.prescricao') {

                MdHub.event.add('prescricaoImpressa', function (prescriptionData) {
                    var idPrescricao = prescriptionData.prescricao.id;
                    var dataCriacao = prescriptionData.prescricao.created_at;
                    var prescricaoUuid = prescriptionData.prescricao.prescriptionUuid;
                    var idPaciente = prescriptionData.prescricao.paciente.external_id;
                    var medicoCRM = prescriptionData.prescricao.medicos.crm;
                    //console.log(idPrescricao);
                    //console.log(dataCriacao);
                    //console.log(prescricaoUuid);
                    //console.log(idPaciente);
                    //console.log(medicoCRM);

                    $.get("/PrescricaoMemed/Salvar", {
                        idPrescricao: idPrescricao,
                        dataCriacao: dataCriacao,
                        prescricaoUuid: prescricaoUuid,
                        idPaciente: idPaciente,
                        medicoCRM: medicoCRM,
                    })
                        .done(function (data) {
                            console.log(data);

                            $.get("/Memed/ObterPrescricaoPdf", {
                                idPrescricao: idPrescricao,
                                medicoCRM: medicoCRM,
                            })
                                .done(function (data) {
                                    console.log(data);
                                })
                                .fail(function (error) {
                                    console.log('erro ao carregar os dados');
                                    console.log(error);
                                });
                        })
                        .fail(function (error) {
                            console.log('erro ao carregar os dados');
                            console.log(error);
                        });

                    console.log(prescriptionData);
                });
            }
        });
        </script>

    }

}