@model IEnumerable<MeuMemed.ViewModel.Paciente.PacienteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Novo">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DificuldadeLocomocao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DificuldadeLocomocao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PacienteId">Edit</a> |
                <a asp-action="Detalhes" asp-route-id="@item.PacienteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PacienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
